@import "tailwindcss";
@import "./styles/index.css";

@theme {
  /* Font Families */
  --font-title: "stolzl", sans-serif;
  --font-body: "polymath", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 905px;
  --breakpoint-lg: 1240px;
  --breakpoint-xl: 1440px;

  /* Width */
  --width-wide: 782px;
  --width-standard: 685px;
  --width-narrow: 452px;

  /* Colours - Solid */
  --color-midnight: #0f002e;
  --color-teal: #006075;
  --color-teal-md: #009daa;
  --color-teal-muted: #63b2b9;
  --color-teal-drk: #006075;
  --color-aqua: #97e1e5;
  --color-lavendar: #c0a2ff;
  --color-purple-drk: #1e0073;
  --color-purple-lt: #caccf8;
  --color-red: #d70449;
  --color-wine: #940050;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-blue: #ddf5f7;
  --color-navy: rgba(0, 96, 117, 0.4);

  /* Colours - With Opacity */
  --color-opacity-midnight: 15, 0, 46;
  --color-opacity-teal: 0, 96, 117;
  --color-opacity-teal-md: 0, 157, 170;
  --color-opacity-teal-muted: 99, 178, 185;
  --color-opacity-teal-drk: 0, 96, 117;
  --color-opacity-aqua: 151, 225, 229;
  --color-opacity-lavendar: 192, 162, 255;
  --color-opacity-purple-drk: 30, 0, 115;
  --color-opacity-purple-lt: 202, 204, 248;
  --color-opacity-red: 215, 4, 73;
  --color-opacity-wine: 148, 0, 80;
  --color-opacity-white: 255, 255, 255;
  --color-opacity-black: 0, 0, 0;
  --color-opacity-light-blue: 221, 245, 247;
  --color-opacity-navy: 0, 96, 117;

  /* Gradients */
  --color-gradient-primary: linear-gradient(
    66deg,
    rgba(53, 252, 255, 0.36) 4.86%,
    rgba(81, 58, 145, 0.36) 84.35%
  );

  --color-gradient-secondary: linear-gradient(
    90deg,
    #97e1e5 0.01%,
    #d9caf8 89.82%
  );

  --color-gradient-border: linear-gradient(
    90deg,
    rgba(151, 225, 229, 0.6) 0.01%,
    rgba(217, 202, 248, 0.6) 89.82%
  );

  /* Theme Colours */
  --color-primary: var(--color-red);
  --color-secondary: var(--color-purple-drk);
  --color-tertiary: var(--color-aqua);
  --color-accent: var(--color-red);
  --color-background-none: var(--color-midnight);
  --color-background-primary: var(--color-teal-drk);
  --color-background-secondary: var(--color-purple-drk);
  --color-text-primary: var(--color-white);

  /* Font Size */
  --text-base: 1.25rem;
  --text-h1-home: 5.375rem;
  --text-h1: 3.5rem;
  --text-h1-mobile: 2.5rem;
  --text-h2-mobile: 1.875rem;
  --text-h2: 2.875rem;
  --text-h3: 1.5rem;
  --text-h3-mobile: 1.375rem;
  --text-h4: 1.625rem;
  --text-label: 1.375rem;
  --text-bodyLarge: 1.375rem;
  --text-tagline: 1.875rem;
  --text-sm: 1rem;
  --text-button: 1.125rem;
  --text-massive: 3.5rem;

  /* Font Weight */
  --font-weight-normal: 300;
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extraBold: 700;
}

@source inline("bg-background-primary bg-background-secondary bg-background-none");

@layer base {
  /* Base */
  body {
    font-family: var(--font-body);
    color: var(--color-white);
    background-color: var(--color-background) !important;
    font-size: var(--text-base);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-title);
  }
  h1 {
    font-size: var(--text-h1-mobile);
    font-weight: var(--font-weight-extraBold);
    line-height: 1.2;
  }
  h2 {
    font-size: var(--text-h2-mobile);
    font-weight: var(--font-weight-extraBold);
    line-height: 1.2;
  }

  h3 {
    font-size: var(--text-h3-mobile);
    font-weight: var(--font-weight-medium);
  }
  h4 {
    font-size: var(--text-h4);
    font-weight: var(--font-weight-bold);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media (min-width: 600px) {
    h1 {
      font-size: var(--text-h1);
    }
    h2 {
      font-size: var(--text-h2);
    }
    h3 {
      font-size: var(--text-h3);
      font-weight: var(--font-weight-medium);
    }

    h4 {
      font-size: var(--text-h4);
      font-weight: var(--font-weight-bold);
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  a {
    text-decoration: underline;
    color: var(--color-aqua);
  }

  .btn {
    position: relative;
    display: inline-block;
    padding: 10px 34px 12px 34px;
    border-radius: 1.875em;
    background: var(--color-primary);
    color: var(--color-white) !important;
    font-size: var(--text-button);
    text-align: center;
    overflow: visible;
    z-index: 0;
    border: 3px solid transparent;
    transition: color 0.6s ease;
  }

  .btn::after {
    bottom: 0;
    right: 0;
    border-bottom-color: var(--color-white);
    border-right-color: var(--color-white);
    box-shadow: 0 0 15px rgba(241, 240, 244, 0.6);
    transition: all 0.3s 0.15s;
  }

  .btn:hover::before,
  .btn:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .btn:hover {
    color: var(--color-white);
  }

  .btn-primary {
    border-radius: 1.875em;
    border: 3px solid transparent;
    padding: 10px 34px 12px 34px;
    font-size: var(--text-button);
    background: var(--color-primary);
    color: var(--color-white);
    text-decoration: none !important;

    &:focus {
      outline: 0;
      border-color: var(--color-lavendar);
      background: var(--color-wine);
    }
    @media screen and (max-width: 768px) {
      padding: 10px 16px;
    }
  }

  .btn-secondary {
    border-radius: 1.875em;
    border: 3px solid transparent;
    padding: 10px 34px 12px 34px;
    font-size: var(--text-button);
    background: var(--color-purple-drk);
    color: var(--color-white);
    text-decoration: none !important;

    &:focus {
      outline: 0;
      border-color: var(--color-lavendar);
      background: var(--color-midnight);
    }
  }

  .btn-outline {
    border-radius: 1.875em;
    border: 3px solid transparent;
    padding: 10px 34px 12px 34px;
    font-size: var(--text-button);
    background: transparent;
    border-color: var(--color-aqua);
    color: var(--color-aqua);
    text-decoration: none !important;

    &:focus {
      outline: 0;
      border-color: var(--color-purple-lt);
      background: var(--color-teal-drk);
    }
  }
}

@layer components {
  .bg-background-none {
    .accordion {
      background: rgba(var(--color-opacity-teal), 0.5);
    }
    .cta {
      background: rgba(var(--color-opacity-teal), 0.5);
    }

    .testimonial-content {
      background: rgba(var(--color-opacity-teal), 0.5);
    }
  }

  .bg-background-primary {
    .accordion {
      background: rgba(var(--color-opacity-midnight), 0.5);
    }

    .cta {
      background: rgba(var(--color-opacity-midnight), 0.5);
    }

    .testimonial-content {
      background: rgba(var(--color-opacity-midnight), 0.5);
    }
  }

  .bg-background-secondary {
    .accordion {
      background: rgba(var(--color-opacity-teal), 0.5);
    }

    .cta {
      background: rgba(var(--color-opacity-teal), 0.5);
    }

    .testimonial-content {
      background: rgba(var(--color-opacity-teal), 0.5);
    }
  }

  .text-content {
    h1 {
      background: linear-gradient(90deg, #97e1e5 0%, #d9caf8 50%, #97e1e5 100%);
      background-size: 200% 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h2 {
      color: var(--color-purple-lt);
      margin-bottom: 0.5em;
    }
    h3:not(:first-child),
    h2:not(:first-child) {
      margin-top: 1em;
    }
    h3 {
      background: var(
        --Light-Gradient,
        linear-gradient(90deg, #97e1e5 0.01%, #d9caf8 89.82%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
    p:has(strong):has(+ ol) {
      color: var(--color-aqua);
      font-weight: 600;
      font-size: 1.25rem;
      padding: 1rem 0;
    }
    a {
      text-decoration: underline;
      color: var(--color-aqua);
    }
    p {
      margin-bottom: 1.25em;
      max-width: 900px;
      margin: 0 auto;
      letter-spacing: 0.1px;
    }

    ol {
      list-style: none;
      counter-reset: num;
      text-align: start;
      padding: 0;
      margin: 0 0 1.5em 0;
    }

    ol > li {
      counter-increment: num;
      font-weight: var(--font-weight-normal);
      list-style: none;
      padding-left: 60px;
      position: relative;
      padding-bottom: 1em;
      margin-bottom: 1.5em;
      border-bottom: 1px solid #9884b2;
      &::before {
        line-height: 1;
        position: absolute;
        left: 0;
        top: -10px;
        vertical-align: center;
        content: counter(num) ". ";
        padding-left: 0.25em;
        font-size: 2.2em;
        font-family: var(--font-title);
        font-weight: 700;
        text-shadow: 0px 0px 22px rgba(99, 178, 185, 0.28);
        background: linear-gradient(
          66deg,
          rgba(99, 178, 185, 0.5) 4.86%,
          rgba(93, 16, 255, 0.5) 84.35%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        backdrop-filter: blur(15px);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--Light-Purple, #caccf8);
      }
    }

    ul,
    ul li {
      counter-reset: none;
      counter-increment: none;
      list-style-type: disc;
      margin-bottom: 1rem;
      border: none;
    }

    ul li::before,
    ul li::after {
      content: none;
    }

    ol,
    ul {
      padding-bottom: 0;
    }
    ul {
      padding-left: 1.25rem !important;
    }
    .li-content {
      margin-top: 1.875rem !important;
    }
  }
}

ul,
ol {
  display: block;
  list-style: disc outside none;
  margin: 1em 0;
  padding: 0 0 0 40px;
  text-align: start;
  @media (max-width: 768px) {
    padding-left: 0;
  }
}
ol {
  list-style-type: decimal;
  text-align: start;
}
a {
  &:hover {
    color: var(--color-aqua);
  }
}

.rounded-image img,
.rounded-image {
  border-radius: 12px !important;
}

:root {
  background: var(--color-midnight);
}

.bg-background-secondary {
  .text-accent {
    color: var(--color-white);
  }
}

.tagline {
  font-size: var(--text-bodyLarge);
  font-weight: var(--font-weight-medium);
}
